In [1]:
dataset = [['milk','onion','nutmeg','kidney beans','eggs','yogurt'],
           ['dill','onion','nutmeg','kidney beans','eggs','yogurt'],
           ['milk','apple','kidney beans','eggs'],
           ['milk','unicorn','corn','kidney beans','yogurt'],
           ['corn','onion','onion','kidney beans','ice cream','eggs']]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [4]:
dataset

[['milk', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
 ['dill', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
 ['milk', 'apple', 'kidney beans', 'eggs'],
 ['milk', 'unicorn', 'corn', 'kidney beans', 'yogurt'],
 ['corn', 'onion', 'onion', 'kidney beans', 'ice cream', 'eggs']]

In [5]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [6]:
df = pd.DataFrame(te_ary,columns = te.columns_)
df

,apple,corn,dill,eggs,ice cream,kidney beans,milk,nutmeg,onion,unicorn,yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [7]:
from mlxtend.frequent_patterns import apriori

In [30]:
frequent_itemsets = apriori(df,min_support=0.01,use_colnames = True)
frequent_itemsets

In [31]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets
frequent_itemsets.to_csv('frequent_itemsets.csv')

In [32]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(apple),(eggs),0.2,0.8,0.2,1.0,1.250000,0.04,inf
1,(apple),(kidney beans),0.2,1.0,0.2,1.0,1.000000,0.00,inf
2,(apple),(milk),0.2,0.6,0.2,1.0,1.666667,0.08,inf
3,(ice cream),(corn),0.2,0.4,0.2,1.0,2.500000,0.12,inf
4,(corn),(kidney beans),0.4,1.0,0.4,1.0,1.000000,0.00,inf
...,...,...,...,...,...,...,...,...,...
628,"(onion, eggs, milk)","(yogurt, kidney beans, nutmeg)",0.2,0.4,0.2,1.0,2.500000,0.12,inf
629,"(onion, nutmeg, milk)","(yogurt, kidney beans, eggs)",0.2,0.4,0.2,1.0,2.500000,0.12,inf
630,"(nutmeg, eggs, milk)","(onion, yogurt, kidney beans)",0.2,0.4,0.2,1.0,2.500000,0.12,inf
631,"(onion, milk)","(yogurt, kidney beans, nutmeg, eggs)",0.2,0.4,0.2,1.0,2.500000,0.12,inf
632,"(nutmeg, milk)","(onion, yogurt, kidney beans, eggs)",0.2,0.4,0.2,1.0,2.500000,0.12,inf

In [34]:
res1 = res[['antecedents','consequents','support','confidence','lift']]
res1
res1.to_csv('res1.csv')

In [25]:
res2 = res1[res1['confidence'] >= 1]
res2

              antecedents           consequents  support  confidence  lift
1                  (eggs)        (kidney beans)      0.8         1.0  1.00
2                 (onion)                (eggs)      0.6         1.0  1.25
4                  (milk)        (kidney beans)      0.6         1.0  1.00
5                 (onion)        (kidney beans)      0.6         1.0  1.00
6                (yogurt)        (kidney beans)      0.6         1.0  1.00
7   (onion, kidney beans)                (eggs)      0.6         1.0  1.25
8           (onion, eggs)        (kidney beans)      0.6         1.0  1.00
10                (onion)  (kidney beans, eggs)      0.6         1.0  1.25